<!DOCTYPE html>
<html lang="pt-br" xmlns="w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Autenticação de usuário</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar bg-body-tertiary cabecalho">
        <div class="container-fluid">
            AUTENTICAÇÃO DE USUÁRIO
        </div>
    </nav>
      <form class="formulario">
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">Login</label>
          <input type="text" class="form-control login" id="exampleFormControlInput1" placeholder="Login" name="login">
        </div>
        <div class="mb-3">
            <label for="inputPassword5" class="form-label">Senha</label>
            <input type="password" id="inputPassword5" class="form-control senha" aria-describedby="passwordHelpBlock" name="senha">
        </div>
        <button type="submit" class="btn btn-primary">Logar</button>
      </form>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script type="module" th:src="@{/js/script.js}"></script>
</body>
</html>